services:
  backend:
    build:
      context: ./back-end
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: default

  frontend:
    build:
      context: ./front-end
    ports:
      - "5173:80"
    depends_on:
      - backend
